.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    
}

.card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
 
}

.content {
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 1;
    transition: 0.5s;
}

.content:hover {
    transform: translateY(0px);
    opacity: 1;
}

.content h2{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
    pointer-events: none;
}

.content p{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
}

.img{
    width: 150px;
    height: 150px;
}

.img:hover{
    width: 180px;
    height: 180px;
    transition: 0.5s;
}

.fire{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    
    background: var(--fire);
  }
 
  .grass{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--grass);
  } 

  .eletric{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--eletric);
  }
  .water{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--water);

  }
  .ground{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--ground);
  }
  .rock{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--rock);
  }
  .fairy{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--fairy);
  }
  .poison{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--poison);
  }
  .bug{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--bug);
  }
  .dragon{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--dragon);
  }
  .psychic{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--psychic);
  }
  .fluying{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--fluying);
  }
  .fighting{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--fighting);
  }
  .normal{
    margin-top: 5px;
    color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

    background: var(--normal);
  }

